/*
  ****************************************
  GLOBAL
  ****************************************
 */

.ui-dialog-content {
  font-family: "Times New Roman", Times, sans-serif;
}

audio {
  width: 300px;
  height: 30px;
}

body {
    background:url('faulknerback2.jpg') fixed;
/* * background: #F5F5F5; */
}
a:link {
    color:#992222;
}
a:visited {
    color:#992222;
}
a:hover {
    color: #CFAB88;
}
em {
/*
  * font-weight:bold;
  font-style: italic;
 */
}
p {
    line-height: 1.5em;
}


/**
 * FORM
 */
fieldset {
	border: 0 solid #648040;
}

input, select {
    font-size:11px;
    margin:0px 10px;
}


input.search_box {
	width: 300px;
	/*font-size: 20px;
	border: 1px solid #ccc;
	padding: 2px;
	vertical-align: middle;*/
}

.search_button {
	/** background: #eee !important;
	padding-left: 2px !important;
	font-size: 18px;*/
}

a img {
    border: none;
}
#wrap {
    width: 740px;
    font-family: Georgia, serif;
    margin: 25px auto;
    padding: 5px 15px;
/*
  *border: 4px solid #EFEFEF;
  background: #F5F5F5;
  background-image: url(faulknerback2.jpg);
 */
/*
  border:1px solid silver;
  padding:2px;
 */
}
.content {
    min-height:400px;
}
.clearfix {
    display: block;
}
/*
  ****************************************
  HEADER
  ****************************************
 */
#header {
    height: 100px;
}
#header h1 {
    font-family: Helvetica, "Trebuchet MS", Trebuchet, Verdana, sans-serif;
}

/** main horizontal navigation */
#main_nav {
	border-bottom: 1px solid silver;
	display: table;
	width: 100%;
}

ul.menu {
    display:table;
    list-style-type:none;
    margin:0;
    padding:0;
    float:left;
    margin-top:10px;
}
ul.menu li {
    float:left;
    width:100px;
    font-size:11px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-align:center;
    font-weight:bold;
    text-align: center;
}
ul.menu li a {
    text-decoration:none;
}

.content center {
	height: 215px;
	overflow: hidden;
}
/*
  ****************************************
  Inline modal windows DISPLAY
  *****************************************
 */
.hidden {
    display: none;
}
/*
  ****************************************
  Gallery DISPLAY
  **************************************
 */
ul.gallery {
    float: left;
    width: 735px;
/* margin: 0 20px; */
    padding: 0;
}
ul.gallery li {
    display: inline;
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 2px 3px;
}
ul.gallery img {
    margin: 0;
    padding: 0;
    max-height: 160px;
}
#essay_content ul.gallery img {
	padding: 0;
	margin: 0;
/*
  background: #CFAB88 none repeat scroll 0 0;
  height: 110px;
  padding: 3px;
 */
    width: 110px;
}
ul.gallery a {
    display: block;
    min-height: 139px;
    overflow: hidden;
    border: 3px solid #CFAB88;
    margin: 0;
}
ul.gallery li a {
    min-height: 139px;
    max-width: 110px;
}
/*
  ****************************************
  TEI DISPLAY
  ****************************************
 */
#main {
    float: left;
    width: 513px;
    margin: 0;
    padding-left: 15px;
	padding-bottom: 15px;
    height: 1%;
/* Holly hack for Peekaboo Bug */
}
#nav {
    float: left;
    width: 185px;
    border-style: solid solid none solid;
    border-color: silver;
    border-width: 1px;
}
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 80%;
}
#nav li a {
    height: 32px;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 24px;
    text-decoration: none;
}
#nav li a:link, #nav li a:visited {
    color: #992222;
    display: block;
    padding: 8px 0 0 10px;
}
#nav li a:hover {
    color: #CFAB88;
    padding: 8px 0 0 10px;
}

.unclear { }
.gap { }
.event { }

li {
    font-family: Helvetica, "Trebuchet MS", Trebuchet, Verdana, arial, sans-serif;
    font-size: 85%;
}
.uppercase {
    text-transform: uppercase;
}
.caps {
    text-transform: capitalize;
}

.player-line {
    height: 30px;
}
.alt {
    color: #666;
    font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
    font-style: italic;
    font-weight: normal;
}
#wrap .content h1 {
    font-family: "Palatino","Book Antiqua", Georgia, serif;
    color: #992222;
}
h3.div_head {
    display:inline;
}
/*
  ****************************************
  SEARCH RESULTS
  ****************************************
 */
.result_div_even {
    padding:25px 0px;
    border-top:1px dotted silver;
    display:table;
    width:100%;
    font-size:80%;
    background-color:#EFEFEF;
}
.result_div_odd {
    padding:25px 0px;
    border-top:1px dotted silver;
    display:table;
    width:100%;
    font-size:80%;
}
.result_div_odd dl a, .result_div_even dl a {
    font-size:120%;
}
dl {
    padding:0;
    margin:0px 10px;
}
dl>div {
    display:table;
}
dt {
    float:left;
    width:100px;
    font-weight:bold;
}
dd {
    margin-left:125px;
}
.paging_div {
    display:table;
    margin:10px 0;
    width:100%;
}
.pagingSep, .pagingBtn {
    margin-left:5px;
    margin-right:5px;
}
.sort_results {
    margin-left:10px;
    display:inline;
}
/*
  ****************************************
  PAGES/FEATURES/BROWSE
  ****************************************
 */
 
 .clips {
     clear: both;
 }
 
 hr {
     clear: both;
 }
 
 .cover_image {
     float: left;
 }
 
 .cover_image img {
     width: 137px;
     overflow: hidden;
     margin: 0 10px;
 }
 
 .cover_image p {
     text-align: center;
     font-weight: bold;
     font-size: smaller;
     text-indent: 0;
     width: 137px;
 }
 
 ul.clip_list {
     float: left;
     padding: 0;
     margin: 0 0 0 20px;
     padding: 0 0 20px 0;
 }
 
 .clip_list li {
     list-style: none;
 }
 
 
 
.page_toc {
    font-size:1.3em;
}
.browse_table {
    width:100%;
}
.odd-row, .odd-row>td {
    background-color:white;
    padding:2px;
}
.even-row>td {
    padding:2px;
    border-spacing:4px;
}
.addthis_button {
/* float:right; */
}
.writing, .dark_red {
    color: #652720;
}

#essay_content {
    width: 660px;
    margin: 0 auto;
}
#essay_content img {
    float: left;
    margin: 0 15px 5px 0;
}

#essay_content img.inline {
	padding: 0;
	margin: 0;
	float: none;
}

#cboxLoadedContent > div { padding: 2em; }

.hide_printer > img.print_hidden { display:none; }

/**
  *
  * Style Hacks
 */
.center {
    text-align: center;     
}

img.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.left {
    text-align: left;
     
}
.right {
    text-align: right;
     
}
.float_left {
    float: left;
     
}
.float_right {
    float: right;
}

.top_button {
	margin-left: 1.2em;
}

.underline {
    text-decoration: underline;
}

/**
 * FOOTER
 */
#footer {
    margin-top: 2em;
	clear: both;
    padding: 0;
	font-size: 14px;
}
#footer p {
    margin-top: 10px;
    line-height: 5px;
}
.f_title {
    font-weight: bold;
    font-style: italic;
}
#footer .f_wrap {
    line-height: 1.5em;
    float: left;
    padding-left: 0.8em;
}
#footer .f_wrap p {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}
#footer .f_wrap p.copyright {
    padding-left: 1em;
}

/* (C) and use page */

.big-notice {
	font-size: 16px;
}

h4.use-head {
	font-variant: small-caps;
}

.use-strong {
	font-weight: bold;
	font-style: normal;
}

.use-vstrong {
	font-weight: bold;
	font-style: italic;
}

.use-em {
	font-weight: normal;
	font-style: italic;
}

.use-li {
	visibility: hidden;
	list-style: none;
}

